<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SheAI</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="keywords" />
    <meta name="description" />

    <!-- Favicon -->
    <link href="{{url_for('static',filename='img/favicon.ico')}}" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="{{url_for('static',filename='css/owl.carousel.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/animate.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/tempusdominus-bootstrap-4.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/twentytwenty.css')}}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="{{url_for('static',filename='css/bootstrap.min.css')}}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link
      href="{{url_for('static',filename='css/style.css')}}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary m-1" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-dark m-1" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary m-1" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0"
    >
      <a href="{{url_for('index')}}" class="navbar-brand p-0">
        <h1 class="m-0 text-primary">
          <i class="fa fa- me-2">SheAI</i>
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{{url_for('index')}}" class="nav-item nav-link active"
            >Home</a
          >
          <a href="{{url_for('about')}}" class="nav-item nav-link">About</a>
          <a href="{{url_for('service')}}" class="nav-item nav-link">Service</a>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Pages</a
            >
            <div class="dropdown-menu m-0">
              <a href="{{url_for('price')}}" class="dropdown-item"
                >Pricing Plan</a
              >
              <a href="{{url_for('team')}}" class="dropdown-item"
                >Our Doctors</a
              >
              <a href="{{url_for('testimonial')}}" class="dropdown-item"
                >Testimonial</a
              >
              <a href="#" class="dropdown-item">Chat with HER🌸!</a>
            </div>
          </div>
          <a href="{{url_for('contact')}}" class="nav-item nav-link">Contact</a>
        </div>
        <button
          type="button"
          class="btn text-dark"
          data-bs-toggle="modal"
          data-bs-target="#searchModal"
        >
          <i class="fa fa-search"></i>
        </button>
        <a
          href="{{ url_for('run_chatbot') }}"
          class="btn btn-primary py-2 px-4 ms-3"
          >Chat with HER🌸!</a
        >
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
          <div class="modal-header border-0">
            <button
              type="button"
              class="btn bg-white btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body d-flex align-items-center justify-content-center"
          >
            <div class="input-group" style="max-width: 600px">
              <input
                type="text"
                class="form-control bg-transparent border-primary p-3"
                placeholder="Type search keyword"
              />
              <button class="btn btn-primary px-4">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->

    <!-- Navbar End -->

    <!-- check Start -->
    <div
      class="container-fluid bg-primary bg-appointment mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="margin-top: 90px"
    >
      <div class="container">
        <div class="row gx-5">
          <div class="col-lg-12 py-5">
            <div class="py-5">
              <p class="text-white mb-0">
                At SheAI, we combine advanced AI technology with expert
                healthcare to provide expectant mothers with personalized care
                and accurate risk predictions. Our dedicated team is committed
                to supporting you throughout your pregnancy journey, ensuring
                your health and well-being every step of the way.
              </p>
            </div>
            <h1 class="display-5 text-white mb-4">Pregnancy Risk Predictor</h1>
            <div class="center-container">
              <div class="form-container">
                <form
                  id="predictionForm"
                  action="{{url_for('submit')}}"
                  method="post"
                >
                  <div class="row mb-3">
                    <div class="text-white col-md-4">
                      <label for="Age" class="form-label">Age</label>
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Age"
                        name="Age"
                        value="{{ request.form['Age'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                    <div class="text-white col-md-4">
                      <label for="Body_Temperature" class="form-label"
                        >Body Temperature (F)</label
                      >
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Body_Temperature"
                        name="Body_Temperature"
                        value="{{ request.form['Body_Temperature'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                    <div class="text-white col-md-4">
                      <label for="Heart_Rate" class="form-label"
                        >Heart Rate (bpm)</label
                      >
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Heart_Rate"
                        name="Heart_Rate"
                        value="{{ request.form['Heart_Rate'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="text-white col-md-4">
                      <label for="Systolic_BP" class="form-label"
                        >Systolic Blood Pressure (mm Hg)</label
                      >
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Systolic_BP"
                        name="Systolic_BP"
                        value="{{ request.form['Systolic_BP'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                    <div class="text-white col-md-4">
                      <label for="Diastolic_BP" class="form-label"
                        >Diastolic Blood Pressure (mm Hg)</label
                      >
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Diastolic_BP"
                        name="Diastolic_BP"
                        value="{{ request.form['Diastolic_BP'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                    <div class="text-white col-md-4">
                      <label for="height" class="form-label"
                        >Height (in Cm)</label
                      >
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="height"
                        name="height"
                        value="{{ request.form['height'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="text-white col-md-4">
                      <label for="weight" class="form-label"
                        >Weight (in kg)</label
                      >
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="weight"
                        name="weight"
                        value="{{ request.form['weight'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                    <div class="text-white col-md-4">
                      <label for="Blood_Glucose_HbA1c" class="form-label"
                        >Blood Glucose (HbA1c)
                        <i
                          class="bi bi-info-circle"
                          style="cursor: pointer; color: #f6f7f9"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Average blood sugar levels over the past 2-3 months."
                        ></i>
                      </label>
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Blood_Glucose_HbA1c"
                        name="Blood_Glucose_HbA1c"
                        value="{{ request.form['Blood_Glucose_HbA1c'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                    <div class="text-white col-md-4">
                      <label for="Blood_Glucose_Fasting" class="form-label"
                        >Blood Glucose (Fasting hour-mg/dl)
                        <i
                          class="bi bi-info-circle"
                          style="cursor: pointer; color: #f5f7fa"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Blood sugar level after 8-12 hours of fasting."
                        ></i>
                      </label>
                      <input
                        type="number"
                        step="0.1"
                        class="form-control"
                        id="Blood_Glucose_Fasting"
                        name="Blood_Glucose_Fasting"
                        value="{{ request.form['Blood_Glucose_Fasting'] if request.method == 'POST' else '' }}"
                        required
                      />
                    </div>
                  </div>
                  <center>
                    <button
                      type="submit"
                      class="btn btn-primary w-20"
                      id="submit"
                    >
                      Predict Risk
                    </button>
                    <button
                      type="button"
                      onclick="clearForm()"
                      class="btn btn-secondary w-40"
                    >
                      Reset Form
                    </button>
                  </center>
                </form>
              </div>
              <!-- Prediction Text Section -->
              <div id="predictionDisplay" class="mt-4">
                {% if result.prediction == "High Risk" %}
                <div
                  class="alert alert-danger d-flex align-items-center justify-content-center flex-column"
                  role="alert"
                >
                  <strong>
                    <center>High Risk</center>
                  </strong>
                  <p>
                    Your results show important concerns. Please consult with
                    doctors as soon as possible for further care and advice.
                  </p>
                </div>

                {% if result.explanations %} {% if result.explanations|length >
                0 %}
                <div
                  class="alert alert-danger d-flex align-items-center justify-content-center flex-column"
                  role="alert"
                >
                  <ul class="mt-2">
                    <p><strong>Factors:</strong></p>
                    {% for explanation in result.explanations %}
                    <li>{{ explanation }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %} {% endif %}

                <div
                  class="alert alert-secondary d-flex align-items-center justify-content-center"
                  role="alert"
                >
                  <i class="bi bi-info-circle me-2"></i>
                  <strong
                    >This is AI generated only; please also consult with a
                    doctor before making any decisions.</strong
                  >
                </div>

                {% elif result.prediction == "Medium Risk" %}
                <div
                  class="alert alert-warning d-flex align-items-center justify-content-center flex-column"
                  role="alert"
                >
                  <strong>
                    <center>Medium Risk</center>
                  </strong>
                  <p>
                    Some of your results need attention. It's a good idea to
                    consult your doctor and follow any recommended guidelines.
                  </p>
                </div>

                {% if result.explanations %} {% if result.explanations|length >
                0 %}
                <div
                  class="alert alert-warning d-flex align-items-center justify-content-center flex-column"
                  role="alert"
                >
                  <ul class="mt-2">
                    <p><strong>Factors:</strong></p>
                    {% for explanation in result.explanations %}
                    <li>{{ explanation }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %} {% endif %}

                <div
                  class="alert alert-secondary d-flex align-items-center justify-content-center"
                  role="alert"
                >
                  <i class="bi bi-info-circle me-2"></i>
                  <strong
                    >This is AI generated only; please also consult with a
                    doctor before making any decisions.</strong
                  >
                </div>

                {% elif result.prediction == "Low Risk" %}
                <div
                  class="alert alert-success d-flex align-items-center justify-content-center flex-column"
                  role="alert"
                >
                  <strong>
                    <center>Low Risk</center>
                  </strong>
                  <p>
                    Your results look good! Keep up your healthy habits and stay
                    in touch with your doctor for regular check-ups.
                  </p>
                </div>

                {% if result.explanations %} {% if result.explanations|length >
                0 %}
                <div
                  class="alert alert-success d-flex align-items-center justify-content-center flex-column"
                  role="alert"
                >
                  <ul class="mt-2">
                    <p><strong>Factors:</strong></p>
                    {% for explanation in result.explanations %}
                    <li>{{ explanation }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %} {% endif %}

                <div
                  class="alert alert-secondary d-flex align-items-center justify-content-center"
                  role="alert"
                >
                  <i class="bi bi-info-circle me-2"></i>
                  <strong
                    >This is AI generated only; please also consult with a
                    doctor before making any decisions.</strong
                  >
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Appointment End -->

    <!-- Newsletter Start -->
    <div
      class="container-fluid position-relative pt-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="z-index: 1"
    >
      <div class="container">
        <div class="bg-primary p-5">
          <form class="mx-auto" style="max-width: 600px">
            <div class="input-group">
              <input
                type="text"
                class="form-control border-white p-3"
                placeholder="Your Email"
              />
              <button class="btn btn-dark px-4">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Newsletter End -->

    <!-- Footer Start -->
    <div
      class="container-fluid bg-dark text-light py-5 wow fadeInUp"
      data-wow-delay="0.3s"
      style="margin-top: -75px"
    >
      <div class="container pt-5">
        <div class="row g-5 pt-4">
          <div class="col-lg-3 col-md-6">
            <h3 class="text-white mb-4">Quick Links</h3>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Home</a
              >
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a
              >
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Our
                Services</a
              >
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Latest
                Blog</a
              >
              <a class="text-light" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Contact
                Us</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3 class="text-white mb-4">Popular Links</h3>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Home</a
              >
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a
              >
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Our
                Services</a
              >
              <a class="text-light mb-2" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Latest
                Blog</a
              >
              <a class="text-light" href="#"
                ><i class="bi bi-arrow-right text-primary me-2"></i>Contact
                Us</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3 class="text-white mb-4">Get In Touch</h3>
            <p class="mb-2">
              <i class="bi bi-geo-alt text-primary me-2"></i>123 Street, New
              York, USA
            </p>
            <p class="mb-2">
              <i class="bi bi-envelope-open text-primary me-2"></i
              >info@example.com
            </p>
            <p class="mb-0">
              <i class="bi bi-telephone text-primary me-2"></i>+012 345 67890
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3 class="text-white mb-4">Follow Us</h3>
            <div class="d-flex">
              <a
                class="btn btn-lg btn-primary btn-lg-square rounded me-2"
                href="#"
                ><i class="fab fa-twitter fw-normal"></i
              ></a>
              <a
                class="btn btn-lg btn-primary btn-lg-square rounded me-2"
                href="#"
                ><i class="fab fa-facebook-f fw-normal"></i
              ></a>
              <a
                class="btn btn-lg btn-primary btn-lg-square rounded me-2"
                href="#"
                ><i class="fab fa-linkedin-in fw-normal"></i
              ></a>
              <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"
                ><i class="fab fa-instagram fw-normal"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-light py-4" style="background: #051225">
      <div class="container">
        <div class="row g-0">
          <div class="col-md-6 text-center text-md-start">
            <p class="mb-md-0">
              &copy;
              <a class="text-white border-bottom" href="#">SheAI</a>. All
              Rights Reserved.
            </p>
          </div>
          <div class="col-md-6 text-center text-md-end"></div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename = 'js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename ='js/moment-timezone.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/tempusdominus-bootstrap-4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.event.move.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.twentytwenty.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
  </body>
</html>
